body{
    background-color: hsl(295, 27%, 65%);
    padding: 45px;
    color: rgb(61, 39, 158)
}
.avatar{
    border-radius: 400px;
}
h1{
    font-family: 'Bonheur Royale', cursive;
    font-size: 370%;
    margin: 15px 0 8px 0;
}
h3{
    font-family: 'Montserrat', cursive;
    font-size: 200%;
}